html{
    box-sizing: border-box;
}

*, 
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #00b09b, #adda61);
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

img{
    display: block;
    height: auto;
    max-width: 100%;
}



